body {
    padding-left: 10px;
}

.question-header {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.question-body {
    margin-left: 50px;
    margin-bottom: 25px;
}

.error-text {
    color: #dc3545;
}

.correct-text {
    color: #198754;
}

.next {
    cursor: pointer;
    padding: 5px 20px;
    background-color: #ffffff;
    color: #0d6efd;
    border: 1px solid;
    border-radius: 5px;
}

.back-btn {
    cursor: pointer;
    padding: 5px 20px;
    background-color: #ffffff;
    color: #198754;
    border: 1px solid;
    border-radius: 5px;
}

.skip {
    cursor: pointer;
    padding: 5px 20px;
    background-color: #ffffff;
    color: #7f00ff;
    border: 1px solid;
    border-radius: 5px;
}

.home-page-btn {
    cursor: pointer;
    padding: 5px 20px;
    background-color: #ffffff;
    color: #7f00ff;
    border: 1px solid;
    border-radius: 5px;
}

.disabled {
    cursor: not-allowed;
}

label {
    width: 100%;
}

.card-input-element {
    display: none;
}

.card-input {
    margin: 10px;
    padding: 13px;
    width: 200px;
    border-radius: 13px;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
    box-shadow: 0 0 1px 1px #2ecc71;
}

/* .footer {
    border: rgb(32, 120, 244);
    width: 35px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(32, 120, 244);
}

.next {
    color: #ffffff;
    text-decoration: none;
} */
